/*Navigation bar*/

#container{
	width: 100%;
	margin: 0 auto;
}
nav{
  display: inline-flex;
  width: 100%;
 
}
#logo{
  
   
		font: 1em Georgia;	
		color: #fff;
		background: rgb(51,51,51);
    margin:0 auto;
    width: 220px;
    height: 80px;
    
    overflow: hidden;
    text-align: center;
    padding-left: 50px;
   
		}

  #logo a img{
   
     width:160px ;
     height: 80px;
     overflow: hidden;
     

    
       }

#menu-row{
  width: 100%;

}
.clear{
	clear: both;
}

.menu-row{
  width: 100%;
}

.menu{
  position: relative;
  padding-left: 50px;
  width:  100%;
	font: 15px Verdana;
	list-style: none;
	padding-bottom: 20px;
  padding-right: 60px;
	margin: 0;
	background: rgb(51,51,51);
	text-transform: uppercase;
	text-align: center;
 
}

.menu-items{
  display: inline-block;
  text-align: center;
}

.menu-items1{
  display: inline-flex; /*had to do inline flex instead of inline block to adjust the size of bar wid menu items*/

}
.menu  li {

  
	zoom:1;
	padding:5px 15px;
	height: 50px;
  text-align: center;
  

}


.menu li a{
  
	color: #fff;
	line-height: 3.6em;
	text-decoration: none;


}

.menu li:hover{
	color:orange; 
  
  border-bottom: 2px solid orange; 
}
.menu li a.selected{
  color: orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1; /* specifies the stack order of an element. */
    left: 0;
    min-width: 100%;

}


.menu li:hover .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: 1px;

}



.menu li:hover .dropdown-content {
    display: block;
    margin-top: 9px;
    list-style-type: none; /*to remove bullets*/
    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu li:hover .dropbtn {
    background-color: #3e8e41;
}


.search-head{
	background-image: url(searchicon.png);
	background-size: 40px 40px;
    background-repeat: no-repeat;
   	box-sizing: border-box;
	color: rgb(48, 48, 48);
	font-size: 14px;
	line-height: 10px;
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 20px;
  cursor: pointer;
}


.search-bar{
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(48, 48, 48);
border-width: 0px;
box-sizing: border-box;
color: rgb(48, 48, 48);
display: block;
font-family: ProximaNovaReg,ProximaNova,Arial,sans-serif;
font-size: 14px;
height: 40px;
line-height: 20px;
margin-top:20px;
padding : 0 15px;
width: 220px;
float: left;
}

/*#menu-row ul li:hover ul li {
    
    display: block;
    clear: both;
    margin-left: 15px;
       
}

#menu-row ul li ul li {
    display: none;
}

#menu-row ul li ul{
  position: relative;
}*/

/*Slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  position: relative;
  margin-top: -7px;
  margin-left: auto;
  margin-right: auto;


  
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* BODY*/
#main{
  
  text-align: center;
  font-family: ProximaNovaSemiBold,Arial,sans-serif;

}
.newsletter{
  width: 400px;
  display: inline-block;
  margin-right: 80px;

}

.newsletter input[type="text"]{
  position: relative;
  width: 80%;
  height: 40px;
  border: 1px solid #919191;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  color: #474747;
  outline: none;
  border-right: none;
  text-align: center;
  
  


  
}

.newsletter input[type="text"]:focus{
  border-color: ##33b1ef;
}

.newsletter button[type="submit"]{
  font-family: ProximaNovaSemibold,Arial,Sans-serif;
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 6%;
  box-sizing: border-box;
  background-color:rgb(51,51,51);;
  color: orange;
  text-transform: uppercase;
  padding: 0px;
  border: 1px solid #cccccc;
  font-size: 12;
  margin: 0px 0px 0px 2px;
  border-radius: 0px;
  

  
}


/* FOOTER */

#footer{
  margin-top: 30px;
  border-top: 1px solid #f1f1f1;
}

.footer-section{
  width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  margin: 2px auto 0 auto;/* top right bottom left*/
  display: flex;
  
  text-align: justify;

}

.footer-section1, .footer-section2 ,.footer-section3{
  width: 333px;
  text-align: center;
  
}


  



/*Social Media icons */

 /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin : 5px 2px;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Google */
.fa-google {
  background: #dd4b39;
  color: white;
}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

